.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
dummy*
temp*
tmp*
Untitled*

*slidedeck.pdf
*Rpackages.bib
*.rds
*.Rdata
*.icloud


*.csv
  

*_cache
*_cache/
*.Rproj

.Rproj.user/


public/









