
.Rhistory
.RData
.Ruserdata
.DS_Store
dummy*
temp*
tmp*
Untitled*

*slidedeck.pdf
*Rpackages.bib
*.rds
*.icloud


#*.csv
  

*_cache
*_cache/
*cache

*.Rproj
.Rproj.user/
.Rproj.user

#/public/
/resources/










