{{ partial "header.html" . }}


<main class="content" role="main">

    <h1 class="article-title">{{ .Title }}</h1>


    <span class="article-meta">
      {{ .Params.author }} / {{ .ReadingTime }} mins read <br>
      {{ range $i := (slice "tags") }}
      {{ with ($.Param $i) }}
      {{ $i | title }}:
      {{ range $k := . }}
      <a href='{{ relURL (print "/" $i "/" $k | urlize) }}'>{{ $k }}</a>
      {{ end }}<br>
      {{ end }}
      {{ end }}<br>
    </span>



    {{ if eq .Section "post" }}
    <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    {{ end }}

    <div class="article-content">
      {{ .Content }}
    </div>


  </article>




  {{ partial "disqus.html" . }}


</main>

{{ partial "footer.html" . }}
